body {
  overflow-x:hidden ;
  /* overflow-y: hidden; */
  background-color: #FFFEFF; /* base background */

  background-image: 
    linear-gradient(to right, #E2E4E7 1px, transparent 1px),
    linear-gradient(to bottom, #E2E4E7 1px, transparent 1px);
  background-size: 48px 48px; /* grid spacing */
  background-repeat: repeat;
}

.video-css {
  background-color: black;
}